a{text-decoration:none;
padding:5px;}
h1{color: brown;}
#ajay{color: blue;}
.xyz{color:aqua}
.pqr{background-color:red;}

*{font-family:cursive}
.xyz{border: 1px dotted ;}

body {background-color: aquamarine;}
body{background-image:url("bg.jfif");}